.aboutPic {
	width:150px;
	height:150px;
}

.breweryList {
	height:450px;
	width:275px;
	border:1px solid #ccc;
	font:16px/26px Georgia, Garamond, Serif;
	overflow:auto;
}

.brewLogo {
	height:250px;
	width:250px;
	padding-bottom:20px;
}

.formTitle {
	text-align:center;
	font-weight:bold;
}

.nav-tabs > li > a
{
    /* adjust padding for height*/
    padding-top: 10px; 
    padding-bottom: 10px;
}

#footer {
	height:100px;
}

.eventLoadingText > h2 {
	display: inline-block;
  	vertical-align: middle;
  	line-height: normal; 
}